[submodule "course03/gtest"]
	path = course03/gtest
	url = git@github.com:google/googletest.git
[submodule "course03/meeting03/gtest"]
	path = course03/meeting03/gtest
	url = git@github.com:google/googletest.git
[submodule "course04/meeting03/gtest"]
	path = course04/meeting03/gtest
	url = git@github.com:google/googletest.git
[submodule "course05/homework03/joel/googletest"]
	path = course05/homework03/joel/googletest
	url = https://github.com/google/googletest.git
