[submodule "course03/gtest"]
	path = course03/gtest
	url = git@github.com:google/googletest.git
[submodule "course03/meeting03/gtest"]
	path = course03/meeting03/gtest
	url = git@github.com:google/googletest.git
[submodule "course04/homework00/shankarvasudevan/sortedarray/gtest"]
	path = course04/homework00/shankarvasudevan/sortedarray/gtest
	url = https://github.com/google/googletest.git
[submodule "course04/homework01/shankarvasudevan/singlylinkedlist/gtest"]
	path = course04/homework01/shankarvasudevan/singlylinkedlist/gtest
	url = https://github.com/google/googletest.git
[submodule "course04/meeting03/gtest"]
	path = course04/meeting03/gtest
	url = git@github.com:google/googletest.git
[submodule "course04/homework03/shankarvasudevan/singlylinkedlist/gtest"]
	path = course04/homework03/shankarvasudevan/singlylinkedlist/gtest
	url = https://github.com/google/googletest.git
